<div class="top-bar">
  
  <div class="top-bar-left">
    <ul class="dropdown menu">
      <li class="menu-text">{{title}}</li>
      <li><a routerLink="/audit">Audits</a></li>
      <li><a routerLink="/blacklist">Blacklist</a></li>
    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <a href="https://slack.com/oauth/authorize?scope=bot,chat%3Awrite%3Auser,channels%3Aread,channels%3Awrite,users%3Aread&client_id=80846675396.90060489617"
           style="padding: 0;"
           *ngIf="showSlackButton()">
          <img alt="Add to Slack"
               height="40"
               width="139"
               src="https://platform.slack-edge.com/img/add_to_slack.png"
               srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>